//  Site header
.site-header {
    // padding: 0 $page-padding;
    padding: 18px $page-padding 18px $page-padding;
    // border-top: 5px solid $grey-color-dark;
    // border-top: 50px solid $grey-color-dark;
    // border-bottom: 1px solid $grey-color-light;
    // margin-top: 18px 0;
    //min-height: 56px;
    //margin-bottom: 0;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: $title-font-size;
    font-weight: 300;
    //line-height: 56px;
    line-height: $base-line-height;
    color: $grey-color-light;
    
    //letter-spacing: -1px;
    margin-bottom: 0;
    margin: 0 0;
    float: left;
    text-decoration: none;

    &:visited {
        color: $grey-color-light;
    }

    &:hover {
        color: $text-color;
        text-decoration: none;
        font-weight: 300;
    }
}

.site-nav {
    float: right;
    margin-top: 16px;
    z-index: 99999;
    //line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $grey-color-light;
        line-height: $base-line-height;
        text-decoration: none;
        font-weight: $base-font-weight;

        &:visited {
            color: $grey-color-light;
        }

        &:hover {
            color: $text-color;
            text-decoration: none;
        }

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 16px; // 20px
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        // top: 9px;
        // right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;
        margin-top: 0px;
        right: $page-padding;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 0px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            // margin-left: 20px;
        }
    }
}

// Site footer
.views {
    display: flex;
    align-items: left;
}

// Site footer
.site-footer {
    //border-top: 1px solid $grey-color-light;
    padding: 0 $page-padding;
    // padding: 18px $page-padding;
}

.footer-heading {
    //font-size: 18px;
    //margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.footer-col-wrapper {
    font-size: $footer-font-size;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    // padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}



@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

// Content page
.page-content {
    padding: 18px $page-padding;
    //padding-top: $title-font-size;
}

.page-heading {
    font-size: 24px;
    font-weight: $base-font-weight;
}

.post-meta {
    font-size: $base-font-size;
    color: $text-color;
}

.post-link {
    display: block;
    font-size: $base-font-size + 6;  //before: 21px;
    font-weight: $title-font-weight;
    // margin-bottom: $base-font-size / 4;
    // margin-top: 18px;
    // padding-top: 18px;
    line-height: $title-line-height;
    //letter-spacing: $base-spacing;

}

.post-list {
    margin-left: 0;
    list-style: none;
    padding-left: 0;
    //letter-spacing: $base-spacing;

    > li {
        // padding-bottom: 18px;
        //margin-bottom: $spacing-unit;
        //line-height: $base-line-height; 
        //line-height: 1em;
    }
    
    ul {
        //margin: $spacing-unit/5 0;
        // margin: 6px 0;
        //margin-bottom: $spacing-unit;
        //line-height: $post-line-height; 
    }
    
    a {
        color: $grey-color;
        text-decoration: none;

        &:visited {
            color: $grey-color;
        }

        &:hover {
            color: $text-color;
            text-decoration: none;
        }        
    }
}

// Media (videos)
.youtube-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.youtube-wrapper iframe {
    position: absolute;
    margin: auto;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 100%;
    border: 0;
}

// Google Slides

/* Responsive Google Slides, YouTube & Vimeo */
iframe[src*="docs.google.com"],
iframe[src*="youtube.com"],
iframe[src*="player.vimeo.com"] {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  border: 0;  
}

// .google-slides-container{
//     position: relative;
//     width: 100%;
//     height: 200%;
//     // padding-top: 60%;
//     // overflow: hidden;
//     border: 0;
// }

// .google-slides-container iframe{
//     position: absolute;
//     top: 0;
//     left: 0;
//     // width: 100%;
//     height: 100%;
// }

// Posts
.post-header {
    //margin-bottom: $spacing-unit;
    // margin-top: 0;
}

.post-title {
    font-size: $title-font-size;
    line-height: $title-line-height;
    font-weight: $title-font-weight;
    // font-family:'Roboto Slab', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    // padding-bottom: 18px;
    // margin-bottom: $base-font-size / 4; //$title-font-siz / 2;
    // @include media-query($on-laptop) {
    //     font-size: $title-font-size;
    //     // line-height: 1.3;
    // }
}

.post-list-title {
    // margin: 0 0;
}

.post-subtitle {
    font-size: $subtitle-font-size;
    color: $grey-color;
    line-height: $subtitle-line-height;
}

.post-list-subtitle {
    font-size: $base-font-size;
    line-height: $subtitle-line-height;
    color: $grey-color;
}

.post-date {
    font-size: $date-font-size;
    // font-size: $base-font-size;
    color: $grey-color;
    // line-height: $date-line-height;
    margin-top: $margin / 2;
    // display: block;
    // margin: $title-line-height;
    // padding-top: 200px;
}

.post-list-date {
    font-size: $date-font-size;
    color: $grey-color;
    // line-height: $date-line-height;
    margin-top: $margin / 2;
    // margin-top: 200px;
}

.post-content {
    //margin-bottom: $spacing-unit / 2;
    //letter-spacing: $base-spacing;
    font-weight: $base-font-weight;
    line-height: $post-line-height;
    // padding-bottom: 18px;

    h1 {
        font-size: $title-font-size;
        font-weight: $title-font-weight;
        //letter-spacing: $base-spacing;

        @include media-query($on-laptop) {
            font-size: $title-font-size;
        }
    }

    h2 {
        font-size: $base-font-size + 6;  //21px
        //font-size: 20;
        font-weight: $title-font-weight;
        //letter-spacing: $base-spacing;
        //line-height: $heading-line-height;

        @include media-query($on-laptop) {
            font-size: 21px;
        }
    }

    h3 {
        font-size: $base-font-size + 3;  //18px
        font-weight: $title-font-weight - 50;
        //letter-spacing: $base-spacing;
        //line-height: $heading-line-height;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    h4 {
        font-size: $base-font-size;  //15px
        font-weight: $title-font-weight - 100;
        //letter-spacing: $base-spacing;
        //line-height: $heading-line-height;

        @include media-query($on-laptop) {
            font-size: 15px;
        }
    }
}

// Share
.share-page {
    clear: left;
    // margin-top: $spacing-unit*5;
    text-align: left;
    //background: $secondary-color;
    // color: $grey-color;
    padding: 0px;
    border-radius: 5px;
    //margin: 1.5 * $spacing-unit 0;

    a {
        //font-weight: 300;
        color: $grey-color;
        margin-left: 5px;
        margin-right: 5px;

        &:hover {
            color: $text-color;
            // border-bottom: 1px dashed #fff;
        }
    }
}

// Table
.dataframe thead tr th {
    text-align: center;  
    }

// .dataframe {
//     max-width: 850px;
//     }


.plotly {
    max-width: 700px; // 850px
}

// Image
img {
    max-inline-size: 100%;
    block-size: auto;
  }


// Horizonal line
.hr-post {
    width: 5%; 
    margin: auto; 
    border-color: $grey-color-light; 
    border-bottom: 0;
    margin-top: 18px;
    margin-bottom: 18px;
}

.hr-page {
    width: 5%; 
    border-color: $grey-color-light; 
    border-bottom: 0;
}