---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <span class="post-date"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time> • {% include reading-time.html %}</span>
    {% if page.author %} • 
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ page.author }}</span>
      </span>
    {% endif %}
  </header>

  <!-- <div class="views">
    <span class="views">
        <img src="https://visitor-badge.glitch.me/badge?page_id={{ page.url }}&left_color=black&right_color=black" alt="Views"/>
    </span>
  </div> -->
  <p>
    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>
  </p>
  <p>
    <hr>
  </p>
  <p>
    {% include share-buttons.html %} 
  </p>
  
  <!-- {% include views-tracker.html %} -->
  <!-- {% include comments.html %} -->
  

<script type="text/javascript" src="/js/lightbox.js"></script>
<link rel="stylesheet" href="/css/lightbox.css">
</article>
